.video-area{
	position: absolute;
	top: 0;
	bottom: 125px;
	left: 0;
	background: black;
	width: 100%;
	text-align: center;
}

video {
	max-height: 100%;
	max-width: 100%;
}

.fullscreen.video-area{
	bottom: 0;
}

.fullscreen video {
	width: 100%;
	height: 100%;
}

.toolbox-area {
	height: 125px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: lightgrey; 
	width: 100%;
}

.fullscreen.toolbox-area {
	height: 125px;
	position: absolute;
	bottom: 50px;
	left: 7%;
	right:7%;
	color: white;
	background-color: #333; 
	width: 80%;
	visibility: hidden;
	
}

.fullscreen.toolbox-area button{
	color: black;
}

.fullscreen.toolbox-area.displayed {
	visibility: visible;
	
}

.video-container.fullscreen {
	cursor: none;
}

.video-container.fullscreen.displayed {
	cursor: default;
}

.context-menu {
	min-width: 100px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid rgba(60,60,60,0.5);
	position: fixed;
	background-color: white;
}